.text {
  font-size: 26px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.invite {
  font-size: 26px;
  padding-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
